*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.headline{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    color: orange;

}
.listen{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    color: aqua;
}